/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";



 .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-image img {
   
    object-fit: cover;
  }

  .card-img-top {
    position: relative;
    overflow: hidden;
  }

  .card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hight{
    min-height: 10rem;
    max-height: 10rem; 
  }

  .image-cover{
    object-fit: contain;
  }